/*reseteo*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 10 px */
html{
  font-size: 62.5%;
}

/*--------------------------------------------------------------------------- */


/*------------------ REACT ----------------------------------------*/


.App {
  text-align: center;
}

/*.cardProductos{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.cardProducto{
  margin: 5px;
  border-top: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
  
  
} 
.card-body{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 19rem;
  margin: 4px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 8px;

}
.card-img-top{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.card-text{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.card-text .card-text1 {
  list-style-type:none;
}
.btn-dark{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 10px;
  padding: 10px;
}

/* ------------------ PROYECTO ---------------------- */

/* Color de fondo para todas las hojas */
body{
 /* background-color: rgb(236, 185, 58); */
}




/*-------------------------------------------------------------*/
/* BARRA DE NAVEGACION  CON BOOTSTRAP*/

/* Color de fondo */
/* header{
  background-color: rgb(96, 96, 96);
} */

/* estilos para titulo del navbar */
/* div h1{
  background-color: rgb(96, 96, 96);
  font-size: 3rem;
} */

/* tamanio del logo */
div img{
  /*width: 15rem;*/
}

/* formato a la caja que contiene el logo y titulo */
/*.img-logo{
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}*/

/* formato a cada seccion */
#navsec{
  text-decoration: none;
  /*color: whitesmoke;*/
  font-size: 2rem;
  padding: 10px;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 10px;
  /*background-color: rgb(96, 96, 96);*/
}

#navsec:hover{
  background-color:  green;
  color: whitesmoke;
} 

/* formato al dropdown */

#navsecDown{
  text-decoration: none;
  /*color: whitesmoke;*/
  font-size: 2rem;
  padding: 5px;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 0px;
  /*background-color: rgb(96, 96, 96);*/
}

#navsecDown:hover{
  background-color:  green;
  color: whitesmoke;
} 

/* flex de las secciones */
#contenedorSecciones{
  display: flex;
  align-items: center;
}

/* contenedor del buscador */
.d-flex{
  align-items: center;
  width: 400px;
}

/* formato del buscador */
.buscador {
  height: 52px;
  text-decoration: none;
  /*color: whitesmoke;*/
  font-size: 2rem;
  padding: 10px;
  border: 0.1rem solid black;
}


.navbar-collapse{
  flex-grow: 0;
}


/*-------------------------------------------------------------*/